<launch>
	
	<arg name="static_map" default="false"/>

	<node pkg="move_base" type="move_base" name="rosbee_move_base">
		<rosparam file="$(find rosbee_navigation)/config/move_base/move_base.yaml" command="load"/>
		<rosparam file="$(find rosbee_navigation)/config/move_base/costmap_common.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find rosbee_navigation)/config/move_base/costmap_common.yaml" command="load" ns="local_costmap" />

		<rosparam file="$(find rosbee_navigation)/config/move_base/costmap_global_dynamic.yaml" command="load" ns="global_costmap" unless="$(arg static_map)"/>
    <param name="global_costmap/width" value="100.0" unless="$(arg static_map)"/>
    <param name="global_costmap/height" value="100.0" unless="$(arg static_map)"/>

    <rosparam file="$(find rosbee_navigation)/config/move_base/costmap_global_static.yaml" command="load" ns="global_costmap" if="$(arg static_map)"/>
		
		<rosparam file="$(find rosbee_navigation)/config/move_base/costmap_local.yaml" ns="local_costmap" command="load"/>
		<param name="local_costmap/width" value="10.0"/>
    <param name="local_costmap/height" value="10.0"/>

	</node>

</launch>