<launch>
	<!-- 	start Kinect driver
				http://wiki.ros.org/freenect_launch	-->
	<include file="$(find freenect_launch)/launch/freenect.launch"/>
	
	<!-- 	Convert kinect depth image to laser data using depthimage_to_laserscan 
				http://wiki.ros.org/depthimage_to_laserscan	-->
	<node name="rosbee_depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" > 
  	<remap from="image" to="/camera/depth/image_raw"/>
  	<param name="scan_height" type="int" value="1" />
  	<param name="range_min" type="double" value="0.45" />
  	<param name="range_max" type="double" value="5.0" />
  	<param name="output_frame_id" type="str" value="camera_depth_frame" />
	</node>
</launch>