<?xml version="1.0"?>
<launch>
	<!-- 
for future purpose so that we could change the amount of robots on map
<arg name="num_of_robots" default="3" /> !-->
<arg name="robot_macs" default="robot_0,00:00:00:00:11:00!robot_1,00:00:00:00:00:11!robot_2,00:00:00:00:00:22!robot_3,00:00:00:00:00:33!robot_4,00:00:00:00:00:44!" />
	<node pkg="stage_ros" type="stageros" name="simulation" args="$(find adhoc_communication)/world/sim_world.world" />
<node pkg="adhoc_communication" type="adhoc_communication" name="robot_1">
	<param name="mac" value="00:00:00:00:00:11"/>
	<param name="robot_name" value="robot_1"/>
	<param name="interface" value="lo"/>
	<param name="num_link_retrans" value="3" />
	<param name="num_e2e_retrans" value="3" />
	<param name="num_rreq" value="1" />
	<param name="max_frame_size" value="1500" />
	<param name="hop_limit_min" value="0" />
	<param name="hop_limit_max" value="0" />
	<param name="hop_limit_increment" value="3" />
	<param name="max_packet_size" value="1500000" />
	<param name="beacon_interval" value="100" />
	<param name="enable_cooperative_relaying" value="true" />
	<param name="simulation_mode" value="true"/>
	<param name="robots_in_simulation" value="5" />
	<param name="sim_robot_macs" value="$(arg robot_macs)" />
	<param name="p_tx" value="1" />
</node>
<node pkg="adhoc_communication" type="adhoc_communication" name="robot_2">
	<param name="mac" value="00:00:00:00:00:22"/>
	<param name="robot_name" value="robot_2"/>
	<param name="interface" value="lo"/>
	<param name="num_link_retrans" value="3" />
	<param name="num_e2e_retrans" value="3" />
	<param name="num_rreq" value="1" />
	<param name="max_frame_size" value="1500" />
	<param name="hop_limit_min" value="0" />
	<param name="hop_limit_max" value="0" />
	<param name="hop_limit_increment" value="3" />
	<param name="max_packet_size" value="1500000" />
	<param name="beacon_interval" value="100" />
	<param name="enable_cooperative_relaying" value="true" />
	<param name="simulation_mode" value="true"/>
	<param name="robots_in_simulation" value="5" />
	<param name="sim_robot_macs" value="$(arg robot_macs)" />
	<param name="p_tx" value="1" />
</node>
<node pkg="adhoc_communication" type="adhoc_communication" name="robot_3">
	<param name="mac" value="00:00:00:00:00:33"/>
	<param name="robot_name" value="robot_3"/>
	<param name="interface" value="lo"/>
	<param name="num_link_retrans" value="3" />
	<param name="num_e2e_retrans" value="3" />
	<param name="num_rreq" value="1" />
	<param name="max_frame_size" value="1500" />
	<param name="hop_limit_min" value="0" />
	<param name="hop_limit_max" value="0" />
	<param name="hop_limit_increment" value="3" />
	<param name="max_packet_size" value="1500000" />
	<param name="beacon_interval" value="100" />
	<param name="enable_cooperative_relaying" value="true" />
	<param name="simulation_mode" value="true"/>
	<param name="robots_in_simulation" value="5" />
	<param name="sim_robot_macs" value="$(arg robot_macs)" />
	<param name="p_tx" value="1" />
</node>
<node name="teleop_twist_keyboard_1" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" launch-prefix="xterm -e" args="-t robot_1/cmd_vel"/>
<node name="teleop_twist_keyboard_2" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" launch-prefix="xterm -e" args="-t robot_2/cmd_vel"/>
<node name="teleop_twist_keyboard_3" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" launch-prefix="xterm -e" args="-t robot_3/cmd_vel"/>

</launch>
