<?xml version="1.0"?>
<launch>
	<!-- 
for future purpose so that we could change the amount of robots on map
<arg name="num_of_robots" default="3" /> !-->
<arg name="robot_macs" default="robot_0,00:00:00:00:11:00!robot_1,00:00:00:00:00:11!robot_2,00:00:00:00:00:22!robot_3,00:00:00:00:00:33!robot_4,00:00:00:00:00:44!" />
<arg name="log_path" default="$(env HOME)/logs" />
<arg name="robot_local_map_frame" default="map" />

<node pkg="stage_ros" type="stageros" name="simulation" args="$(find adhoc_communication)/world/sim_world.world" />

<!-- ROBOT 1 !-->
<node pkg="adhoc_communication" type="adhoc_communication" name="robot_1" respawn="true">
	<param name="mac" value="00:00:00:00:00:11"/>
	<param name="robot_name" value="robot_1"/>
	<param name="interface" value="lo"/>
	<param name="num_link_retrans" value="3" />
	<param name="num_e2e_retrans" value="3" />
	<param name="num_rreq" value="1" />
	<param name="max_frame_size" value="1500" />
	<param name="hop_limit_min" value="0" />
	<param name="hop_limit_max" value="0" />
	<param name="hop_limit_increment" value="3" />
	<param name="max_packet_size" value="1500000" />
	<param name="beacon_interval" value="100" />
	<param name="enable_cooperative_relaying" value="true" />
	<param name="simulation_mode" value="true"/>
	<param name="robots_in_simulation" value="5" />
	<param name="sim_robot_macs" value="$(arg robot_macs)" />
	<param name="p_tx" value="1" />
</node>
<node name="teleop_1" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" launch-prefix="xterm -e" args="-t /robot_1/cmd_vel" />
<node pkg="map_merger" type="map_merger" name="map_merger" output="screen" ns="robot_1" respawn="true">
   	<param name="log_path" value="$(arg log_path)" />
	<param name="robot_name" value="robot_1" />
	<param name="robot_prefix" value="" />
	<param name="local_map_frame_id" value="$(arg robot_local_map_frame)"/>
	<param name="exchange_position" value="true" />
	<param name="has_local_map" value="true" />
	<param name="position_local_robot_topic" value="/robot_1/odom" />
	<param name="seconds_send_timer" value="8" />
	<param name="seconds_pub_timer" value="6" />
	<param name="seconds_recompute_transform" value="25" />
	<param name="seconds_send_position" value="6" />
	<param name="position_other_robots_topic" value="/robot_1/position_other_robots"/>       
	<param name="split_size" value="2048" />
	<param name="splitted" value="true" />
	<param name="local_map_topic" value="/robot_1/map" />
	<param name="meta_topic_over_network" value="/robot_1/map_meta" />
	<param name="local_map_metadata_topic" value="/robot_1/map_metadata" />
	<param name="static_mc_group_name" value="default"/>
	<remap from="/map_other" to="/robot_1/map_other"/>
	<remap from="/control" to="/robot_1/control"/>
	<remap from="/adhoc_communication/new_robot" to="/robot_1/adhoc_communication/new_robot"/>
	<remap from="/all_positions" to="/robot_1/all_positions"/>
	<remap from="/adhoc_communication/get_neighbors" to="/robot_1/adhoc_communication/get_neighbors"/>
	<remap from="/adhoc_communication/send_position" to="/robot_1/adhoc_communication/send_position"/>
	<remap from="/adhoc_communication/send_map_update" to="/robot_1/adhoc_communication/send_map_update"/>
	<remap from="/adhoc_communication/send_control_message" to="/robot_1/adhoc_communication/send_control_message"/>
	<remap from="/adhoc_communication/send_map" to="/robot_1/adhoc_communication/send_map"/>
</node>
<node name="slam_gmapping_1" pkg="gmapping" type="slam_gmapping" output="screen" launch-prefix="xterm -e" ns="robot_1" respawn="true">
<rosparam>
odom_frame: /robot_1/odom
base_frame: /robot_1/base_link
</rosparam>
	<remap from="scan" to="/robot_1/base_scan"/>
	<remap from="map" to="/robot_1/map"/>
	<remap from="map_metadata" to="/robot_1/map_metadata"/>
</node>

<!-- ROBOT 2 !-->
<node pkg="adhoc_communication" type="adhoc_communication" name="robot_2" respawn="true">
	<param name="mac" value="00:00:00:00:00:22"/>
	<param name="robot_name" value="robot_2"/>
	<param name="interface" value="lo"/>
	<param name="num_link_retrans" value="3" />
	<param name="num_e2e_retrans" value="3" />
	<param name="num_rreq" value="1" />
	<param name="max_frame_size" value="1500" />
	<param name="hop_limit_min" value="0" />
	<param name="hop_limit_max" value="0" />
	<param name="hop_limit_increment" value="3" />
	<param name="max_packet_size" value="1500000" />
	<param name="beacon_interval" value="100" />
	<param name="enable_cooperative_relaying" value="true" />
	<param name="simulation_mode" value="true"/>
	<param name="robots_in_simulation" value="5" />
	<param name="sim_robot_macs" value="$(arg robot_macs)" />
	<param name="p_tx" value="1" />
</node>
<node name="teleop_2" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" launch-prefix="xterm -e" args="-t /robot_2/cmd_vel" />
<node pkg="map_merger" type="map_merger" name="map_merger" output="screen" ns="robot_2" respawn="true">
   	<param name="log_path" value="$(arg log_path)" />
	<param name="robot_name" value="robot_2" />
	<param name="robot_prefix" value="" />
	<param name="local_map_frame_id" value="$(arg robot_local_map_frame)"/>
	<param name="exchange_position" value="true" />
	<param name="has_local_map" value="true" />
	<param name="position_local_robot_topic" value="/robot_2/odom" />
	<param name="seconds_send_timer" value="8" />
	<param name="seconds_pub_timer" value="6" />
	<param name="seconds_recompute_transform" value="25" />
	<param name="seconds_send_position" value="6" />
	<param name="position_other_robots_topic" value="/robot_2/position_other_robots"/>       
	<param name="split_size" value="2048" />
	<param name="splitted" value="true" />
	<param name="local_map_topic" value="/robot_2/map" />
	<param name="meta_topic_over_network" value="/robot_2/map_meta" />
	<param name="local_map_metadata_topic" value="/robot_2/map_metadata" />
	<param name="static_mc_group_name" value="default"/>
	<remap from="/map_other" to="/robot_2/map_other"/>
	<remap from="/control" to="/robot_2/control"/>
	<remap from="/adhoc_communication/new_robot" to="/robot_2/adhoc_communication/new_robot"/>
	<remap from="/all_positions" to="/robot_2/all_positions"/>
	<remap from="/adhoc_communication/get_neighbors" to="/robot_2/adhoc_communication/get_neighbors"/>
	<remap from="/adhoc_communication/send_position" to="/robot_2/adhoc_communication/send_position"/>
	<remap from="/adhoc_communication/send_map_update" to="/robot_2/adhoc_communication/send_map_update"/>
	<remap from="/adhoc_communication/send_control_message" to="/robot_2/adhoc_communication/send_control_message"/>
	<remap from="/adhoc_communication/send_map" to="/robot_2/adhoc_communication/send_map"/>
</node>
<node name="slam_gmapping_2" pkg="gmapping" type="slam_gmapping" output="screen" launch-prefix="xterm -e" ns="robot_2" respawn="true">
<rosparam>
odom_frame: /robot_2/odom
base_frame: /robot_2/base_link
</rosparam>
	<remap from="scan" to="/robot_2/base_scan"/>
	<remap from="map" to="/robot_2/map"/>
	<remap from="map_metadata" to="/robot_2/map_metadata"/>
</node>

<!-- ROBOT 3 !-->
<node pkg="adhoc_communication" type="adhoc_communication" name="robot_3" respawn="true">
	<param name="mac" value="00:00:00:00:00:33"/>
	<param name="robot_name" value="robot_3"/>
	<param name="interface" value="lo"/>
	<param name="num_link_retrans" value="3" />
	<param name="num_e2e_retrans" value="3" />
	<param name="num_rreq" value="1" />
	<param name="max_frame_size" value="1500" />
	<param name="hop_limit_min" value="0" />
	<param name="hop_limit_max" value="0" />
	<param name="hop_limit_increment" value="3" />
	<param name="max_packet_size" value="1500000" />
	<param name="beacon_interval" value="100" />
	<param name="enable_cooperative_relaying" value="true" />
	<param name="simulation_mode" value="true"/>
	<param name="robots_in_simulation" value="5" />
	<param name="sim_robot_macs" value="$(arg robot_macs)" />
	<param name="p_tx" value="1" />
</node>
<node name="teleop_3" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" launch-prefix="xterm -e" args="-t /robot_3/cmd_vel" />
<node pkg="map_merger" type="map_merger" name="map_merger" output="screen" ns="robot_3" respawn="true">
   	<param name="log_path" value="$(arg log_path)" />
	<param name="robot_name" value="robot_3" />
	<param name="robot_prefix" value="" />
	<param name="local_map_frame_id" value="$(arg robot_local_map_frame)"/>
	<param name="exchange_position" value="true" />
	<param name="has_local_map" value="true" />
	<param name="position_local_robot_topic" value="/robot_3/odom" />
	<param name="seconds_send_timer" value="8" />
	<param name="seconds_pub_timer" value="6" />
	<param name="seconds_recompute_transform" value="25" />
	<param name="seconds_send_position" value="6" />
	<param name="position_other_robots_topic" value="/robot_3/position_other_robots"/>       
	<param name="split_size" value="2048" />
	<param name="splitted" value="true" />
	<param name="local_map_topic" value="/robot_3/map" />
	<param name="meta_topic_over_network" value="/robot_3/map_meta" />
	<param name="local_map_metadata_topic" value="/robot_3/map_metadata" />
	<param name="static_mc_group_name" value="default"/>
	<remap from="/map_other" to="/robot_3/map_other"/>
	<remap from="/control" to="/robot_3/control"/>
	<remap from="/adhoc_communication/new_robot" to="/robot_3/adhoc_communication/new_robot"/>
	<remap from="/all_positions" to="/robot_3/all_positions"/>
	<remap from="/adhoc_communication/get_neighbors" to="/robot_3/adhoc_communication/get_neighbors"/>
	<remap from="/adhoc_communication/send_position" to="/robot_3/adhoc_communication/send_position"/>
	<remap from="/adhoc_communication/send_map_update" to="/robot_3/adhoc_communication/send_map_update"/>
	<remap from="/adhoc_communication/send_control_message" to="/robot_3/adhoc_communication/send_control_message"/>
	<remap from="/adhoc_communication/send_map" to="/robot_3/adhoc_communication/send_map"/>
</node>
<node name="slam_gmapping_3" pkg="gmapping" type="slam_gmapping" output="screen" launch-prefix="xterm -e" ns="robot_3" respawn="true">
<rosparam>
odom_frame: /robot_3/odom
base_frame: /robot_3/base_link
</rosparam>
	<remap from="scan" to="/robot_3/base_scan"/>
	<remap from="map" to="/robot_3/map"/>
	<remap from="map_metadata" to="/robot_3/map_metadata"/>
</node>

<!--
  Visualising the robot while building a map or navigating.
!-->
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find map_merger)/rviz/test_merging_for_three.rviz"/>
</launch>
